.container {
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  /*background:#85586F;*/
  /* This is a comment explaining the purpose of this div */
  height: 3rem;
  background-color: rgb(243, 155, 48);
}
.nav li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: rgb(95, 6, 6);
  font-weight: bolder;
  font-size: 20px;
}
